{% extends "base.html" %}
{% load static %}

<title>
{% block title %}
WikiWords
{% endblock %}
</title>


{% block content %}
<ul class="nav nav-tabs">
  <li class="active"><a href="{% url 'pages:index' %}">Home</a></li>
  <li><a href="./about/">About</a></li>
</ul>

{% if latest_page_list %}
    <ul>
    {% for page in latest_page_list %}
        <li><a href="{% url 'pages:words' page.word %}">{{ page.word }}</a></li>
    {% endfor %}
    </ul>

{% else %}
    <p>No pages are available.</p>
{% endif %}

{% endblock %}
